body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
  }
  
  .text-slide {
    padding: 1rem 50px;
  }
  
  .vertical-separator {
    margin: 1em 0;
  }
  
  .carousel-page {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-page-header-container {
    width: 100%;
  }
  
  .carousel-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
  }
  
  .action-container {
    padding: 0 1em;
  }
  
  .star-button-container {
    height: 20px;
    margin-bottom: 10px;
  }
  
  .section {
    margin-bottom: 60px;
  }
  
  .section-header {
    padding: 0 1em;
  }
  
  .carousel-container {
    width: 100%;
    height: calc(100vw * 0.8);
  }
  
  @media only screen and (min-width: 500px) and (max-width: 1280px) {
    .carousel-container {
      height: calc(100vw * 0.6);
      max-height: 768px;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .carousel-container {
      height: 768px;
    }
  }
  
  .carousel-container.short {
    height: 300px;
  }
  
  .framed-carousel {
    border: 5px solid #eee;
    overflow: hidden;
    border-radius: 10px;
    will-change: transform;
    mask-image: -webkit-radial-gradient(white, black);
    box-sizing: border-box;
  }
  
  .icon-text {
    color: white;
  }

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cef;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }